<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="https://busyserver.azurewebsites.net/status"/>
    <add key="ApiKey" value="a76aa9b1-cb7c-4955-a1dc-65f5da33f888"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.net>

  </system.net>
</configuration>